body {
    padding-top: 6rem;
}

.navbar {
    padding-right: 15px;
}

.btn {
    margin-right: 10px;
}

.btn-danger {
    margin-right: inherit;
    float: right;
}

.starter {
    padding: 3rem 1.5rem;
    text-align: center;
}
